APP_NAME=NEOMX
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost/investment/

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

PURCHASECODE=

CRON_SECRET=
